name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    container: registry.gitlab.com/dealmore/dealmore-build-images/lambdaci:nodejs12.x

    steps:
      - uses: actions/checkout@v2

      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            .yarn
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}

      - name: Build
        run: |
          yarn --frozen-lockfile --cache-folder .yarn
          yarn workspace @dealmore/tf-next-image-optimization build

      - name: Artifact
        uses: actions/upload-artifact@v2
        with:
          name: lambda
          path: |
            lib/dist.zip
            lib/dist/**/*
          if-no-files-found: error

  test-integration:
    runs-on: ubuntu-latest
    container: registry.gitlab.com/dealmore/dealmore-build-images/lambdaci:nodejs12.x

    services:
      s3:
        image: registry.gitlab.com/dealmore/dealmore-build-images:s3-emulator
        env:
          MINIO_ACCESS_KEY: test
          MINIO_SECRET_KEY: testtest

    steps:
      - uses: actions/checkout@v2

      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            .yarn
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}

      - name: Jest
        run: |
          yarn --frozen-lockfile --cache-folder .yarn
          yarn test

  test-e2e:
    runs-on: ubuntu-latest
    needs: build
    env:
      SAM_CLI_TELEMETRY: 0
      # Don't worry these are fake AWS credentials for AWS SAM
      AWS_ACCESS_KEY_ID: ABIAZLJNBT8I3KFOU4NO
      AWS_SECRET_ACCESS_KEY: 4Xt3Rbx4DO21MhK1IHXZXRvVRDuqaQ0Wo5lILA/h

    services:
      s3:
        image: registry.gitlab.com/dealmore/dealmore-build-images:s3-emulator
        env:
          MINIO_ACCESS_KEY: test
          MINIO_SECRET_KEY: testtest
        ports:
          - 9000:9000

    steps:
      - name: Setup AWS SAM
        run: |
          brew tap aws/tap
          brew install aws-sam-cli
          sam --version

      - uses: actions/checkout@v2

      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            .yarn
            **/node_modules
          key: e2e-${{ hashFiles('yarn.lock') }}

      - name: Install dependencies
        run: yarn install --frozen-lockfile --check-files

      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: lambda
          path: lib

      - name: Run e2e-test
        run: yarn test:e2e --runInBand

  publishRelease:
    name: Potentially publish release
    runs-on: ubuntu-latest
    needs: [build, test-integration, test-e2e]
    if: github.ref == 'refs/heads/main'
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 25

      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: Download build artifact
        uses: actions/download-artifact@v2
        with:
          name: lambda
          path: lib

      - run: ./scripts/publish-release.sh
